@model FTPeeker.Models.ViewModels.VMBrowse

@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>


<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model.items) 
{
    <tr>
        <td>@item.name</td>
    </tr>
}

</table>
